.countdown {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #3DDD16;
    font-size: 5em;
    /*font-family: 'Nova Mono', monospace;*/
    font-family: 'IBM Plex Mono', monospace;
}

.flex-container {
    display: flex;
    justify-content: center;
}
