<ng-container *ngIf="(gameState$|async) === 'intro'">
  <div class="flex-container">
    <video autoplay style="height:100%; border:0" #introvideo>
      <source src="assets/intro_video.mp4">
    </video>
    <div class="skip-video" (click)="skipVideo()"></div>
  </div>
</ng-container>

<ng-container *ngIf="(gameState$|async) === 'console'">
  <ng-terminal #term></ng-terminal>

  <div class="countdown">{{countDown$|async | date:'HH:mm:ss'}}</div>
  <div class="quit-app" (click)="quitApp()"></div>

  <ng-container *ngIf="gameEnding === 'fail'">
    <audio autoplay src="assets/sad_trombone.mp3"></audio>
  </ng-container>

  <ng-container *ngIf="gameEnding === 'success'">
    <audio autoplay src="assets/ff7_victory.ogg"></audio>
  </ng-container>
</ng-container>
